# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Payment gateway (isi sesuai provider yang dipakai)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=